name: DJANGO CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.11"]
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{matrix.python-version}}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{matrix.python-version}}
            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: Run Flake8 Linting
              run: |
                  flake8 . --count --select=E9,F63,F7,f82 --show-source --statistics
                  flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
            - name: Run Tests
              run: |
                  pytest
